server:
  port: 8082
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      driver-class-name: org.postgresql.Driver
      jdbc-url: jdbc:postgresql://localhost:5432/seven_sso?stringtype=unspecified
      username: postgres
      password: postgres
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: ssoHikariCP
      max-lifetime: 30000
      connection-timeout: 30000
      connection-test-query: SELECT 1
se:
  sso:
    cache:
      bean-name: local
    table-name: t_sso_user #这里也可以指定为业务的user表，只要业务user表包含sso_user表字段即可
    verify-code: false #注册功能不开启验证码